<html>
<body>
    <h1> Receipt Tracking </h1>
    <div class='topnav'>
        <a href="/newhome"> HOMEPAGE</a>
        <br>
        <p> Receipt's </p>
        <a href="/addreceipt"> add reciept</a>
        &nbsp;
        <a href="/readreceipts"> show receipts</a>
        &nbsp;
        <a href= "/resolvereceipt"> edit receipts</a>
        &nbsp;
        <a href= "/deletereceipt"> remove receipts</a> 
        <br>
        <p> Stores's </p>
        <a href="/addstore"> add store</a>
        &nbsp;
        <a href= "/readstore"> show stores</a>
        <br>
    </div>
{% block body %}
{% endblock body %}
</body>
</html>