<!DOCTYPE html>
<html>
    <head>
        <p> HOMEPAGE: </p>
        <div class='topnav'>
            <a href="/addreceipt"> add reciept</a>
            &nbsp;
            <a href="/addstore"> add store</a>
            &nbsp;
            <a href="/readreceipts"> show receipts</a>
            &nbsp;
            <a href= "/readstore"> show stores</a>
            &nbsp;
            <a href= "/updatereceipt"> edit receipts</a>
            &nbsp;
            <a href= "/deletereceipt"> remove receipts</a>
           
        <title>new</title>
    </head> 
    <body>
        <h1>Welcome to my website!</h1>
        <p> Welcome to my website, receipts can be added, modified,and deleted</p> 
        <p> (Beta Version 1.0) </p>       
    </body>
</html>
